body{
    background-image: url(awallpaper_2.jpg);
    color: white;
    font-family: Arial;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

main{
    height: 85vh;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255 255 255 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#about{
    font-size: 50px;
    color: aquamarine;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: rgb(14, 14, 36);
    transition-duration: 0.5s;
}

#about:hover{
    background-color: transparent;
    transform: scale(1.1);
    backdrop-filter: blur(10px);
    transition-duration: 0.5s;
}

p{
    width: 70%;
    height: 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

p:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#pink{
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    height: 70%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

@media(max-width: 480px) {
    main{
        width: 100%;
    }
    #about{
        height: 15%;
        font-size: 25px;
        transform: scale(1.06);
        width: 97%;
    }
    #about:hover{
        transform: scale(1.06);
    }
    p{
        height: 15%;
        font-size: 20px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #pink{
        height: 80%;
        width: 80%;
        
    }
}


@media (max-width: 768px) {
    #pink{
        width: 90%;
    }
    main{
        height: 90vh;
    }
    p{
        font-size: 20px;
    }
}