body{
    background-image: url(images.jpg);
    background-position: contain;
    max-height: 100vh;
}

h1{
    color: white;
    font-family: cursive;
    text-align: center;
    text-decoration: white wavy underline;
}

main{
    width: 100vw;
    height: 82.4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main{
    height: 70%;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
}

#menu{
    height: 65%;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.coffeeType{
    color: white;
    width: 80%;
    height: 18%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    font-size: 22px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.coffeeType:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
    background-color: rgb(35, 35, 49);
    color: black;
    color: white;
}

.coffeeType:active{
    background-color: transparent;
    color: white;
    transition-duration: 0.3s;
}


#btn{
    height: 20%;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-btn{
    height: 60%;
    width: 40%;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: white;
    box-shadow: 0px 0px 10px black;
    font-size: 25px;
    cursor: pointer;
    transition-duration: 0.5s;
}

#submit-btn:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.5);
}

#submit-btn:active{
    background-color: transparent;
    transition-duration: 0.2s;
}

#orders{
    height: 60%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
}

.coffee{
    height: 15%;
    width: 80%;
    color: white;
    font-size: 20px;
    font-family: cursive;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    cursor: pointer;
}

.coffee:hover{
    transform: scale(1.07);
    background-color: rgb(35, 35, 49);
}


.mainMsgBox{
    width: 100%;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg{
    width: 450px;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0px 0px 4px black;
    /* background-color: rebeccapurple;
    border: 2px solid green; */
}

.msgText{
    height: 70%;
    width: 90%;
    font-size: 45px;
    font-family: cursive;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    /* border: 2px solid yellow; */
}

.msgBtn{
    height: 25%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
}

.mainMsgBtn{
    height: 40%;
    width: 30%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    font-size: 18px;
    font-weight: 100;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

.mainMsgBtn:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
    background-color: white;
    color: black;
}
.mainMsgBtn:active{
    background-color: transparent;
    color: black;
    transition-duration: 0.2s;
}









@media(max-width: 780px){
    main{
        width: 100%;
    }
    #main{
        width: 50%;
    }
    #menu{
        width: 90%;
    }
    #submit-btn{
        width: 60%;
        font-size: 20px;
    }
    #orders{
        width: 45%;
    }
    .paa{
        width: 100%;
        font-size: 55px;
        margin: auto;
    }
    .pe{
        width: 100%;
        font-size: 55px;
        margin: auto;
    }
    .re-btn{
        margin: auto;
        width: 100%;
    }
    .try{
        width: 25%;
        font-size: 20px;
    }
    .mainMsgBtn{
        width: auto;
        height: 35%;
        font-size: 15px;
    }
}



@media(max-width: 500px) {
    .m2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .coffeeType{
        font-size: 15px;
    }
    .coffee{
        font-size: 17px;
    }
    #submit-btn{
        font-size: 13px;
    }
    #orders{
        height: 50%;
        width: 230px;
    }
    #main{
        height: 50%;
        width: 230px;
    }
    main{
        gap: 10px;
    }
    .paa{
        width: 100%;
        font-size: 40.5px;
        margin: auto;
    }
    .pe{
        width: 100%;
        font-size: 40.5px;
        margin: auto;
    }
    .re-btn{
        margin: auto;
        width: 100%;
    }
    .try{
        width: 35%;
        font-size: 15px;
    }
    .msg{
        width: 230px;
        height: 60%;
    }
    .msgText{
        font-size: 20px;
    }
    .mainMsgBtn{
        width: auto;
        height: 50%;
        font-size: 15px;
    }
}


.hide{
    display: none;
}